<div id="container">

    <div id="logo"></div>

    <div id="profile-picture"></div>

    <form action="#">

        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"
            class="textbox">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"
            class="textbox">
        </div>

        <input type="submit" value="Log In" id="login"
        class="button">

    </form>

    <div id="spacer"></div>

    <div><a href="#">Forgot my User ID or Password</a></div>
    <div><a href="#">Unblock my Profile</a></div>

</div>