#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fade {
    transition: opacity 200ms ease;
    opacity: 0;
}

.spacer {
    flex-grow: 1;
}

#logo {
    background: url(/assets/images/logo.svg) no-repeat center;
    background-size: contain;
    height: 48px;
}