/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Gotham;
    src: url(assets/fonts/gotham.ttf);
}

body {
    font-family: 'Gotham', sans-serif;
    font-size: 11pt;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}