/** colors **/
$branding-color: #ff9b29;
$light-gray: #ced4da;

/** backgrounds **/
$ui-gradient: linear-gradient(to right, #ed5635 0%, #ff9800 100%);

/** dimensions **/
$ui-border-radius: 10px;
$ui-padding: 8px 14px;
$ui-height: 40px;
$ui-box-shadow: 0 0 0 2px rgba(255, 128, 0, 0.2);
